<section class="py-5 text-center container">
	<div class="row py-lg-5">
		<div class="col-lg-6 col-md-8 mx-auto">
			<p class="lead text-muted">
				ようこそ、ながのCAKEへ！<br>
				このサイトは、ケーキ販売のECサイトになります。<br>
				会員でない方も商品の閲覧はできますが、<br>
				購入には会員登録が必要になります。
			</p>
		</div>
	</div>
</section>

<div class="container">
	<h2>新着商品</h2>
	<div class="card-deck">
	<% @items.each do |item| %>
	<div class="row">
		<div class="col">
			<div class="card mb-4 shadow-sm" style="width: 200px; height: 250px;">
				<%= link_to item_path(item.id) do %>
					<%= image_tag item.image, size: "200x150", class: "card-img-top" %>
				<% end %>
			
				<div class="card-body">
					<p class="card-text">
						<%= item.name %><br>
						￥<%= item.price.to_s(:delimited) %>
					</p>
				</div>
			</div>
		</div>
	</div>
	<% end %>
	</div>
	<%= link_to '全ての商品を見る>', items_path %>
</div>


