<div class="container">
	<div class="row">
		<div class="col-md-8">
			<h2>配送先編集</h2>

			<%= form_with model: @address do |f| %>
				<table class="table table-borderless">
					<tbody>
						<tr>
							<th>郵便番号(ハイフンなし)</th>
							<td><%= f.text_field :postal_code %></td>
						</tr>
						<tr>
							<th>住所</th>
							<td><%= f.text_field :address %></td>
						</tr>
						<tr>
							<th>宛名</th>
							<td><%= f.text_field :name %></td>
						</tr>
					</tbody>
				</table>
				
				<div class="actions">
					<%= f.submit '変更内容を保存', class: "btn btn-success" %>
				</div>
			<% end %>	
		</div>
	</div>
</div>
