<h2>ショッピングカート</h2>

<button type="button" class="btn btn-danger">カートを空にする</button>

<table class="table table-bordered">
	<thead class="thead-light">
		<tr>
			<th>商品名</th>
			<th>単価(税込)</th>
			<th>数量</th>
			<th>小計</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @cart_items.each do |cart_item| %>
		<tr>
			<th><%= cart_item.item.name %></th>
			<th><%= cart_item.item.with_tax_price %></th>
			<th><%= cart_item.amount %></th>
			<th><%= cart_item.subtotal %></th>
			<th><button type="button" class="btn btn-danger">削除する</button></th>
		</tr>
		<% end %>
	</tbody>
</table>

<%= link_to root_path do %>
	<button type="button" class="btn btn-primary">買い物を続ける</button>
<% end 