<div th:fragment="form">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <h2>新規会員登録</h2>
        <%= form_with model: @customer, url: customer_registration_path, id: 'new_customer', class: 'new_customer' do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>
        <table class="table table-borderless">
          <tbody>
            <tr>
              <th><%= f.label "名前" %></th>
              <td>(姓) <%= f.text_field :last_name, :placeholder => "令和", size: 20 %> (名) <%= f.text_field :first_name, :placeholder => "道子", size: 20 %></td>
            </tr>
            <tr>
              <th><%= f.label "フリガナ" %></th>
              <td>(セイ) <%= f.text_field :last_name_kana, :placeholder => "レイワ", size: 20 %> (メイ) <%= f.text_field :first_name_kana, :placeholder => "ミチコ", size: 20 %></td>
            </tr>
            <tr>
              <th><%= f.label "メールアドレス" %></th>
              <td><%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "sample@example.com", size: 30 %></td>
            </tr>
            <tr>
              <th><%= f.label "郵便番号(ハイフンなし)" %></th>
              <td><%= f.text_field :postal_code, :placeholder => "0000000", size: 30 %></td>
            </tr>
            <tr>
              <th><%= f.label "住所" %></th>
              <td><%= f.text_field :address, :placeholder => "東京都渋谷区代々木神園町0-0", size: 50 %></td>
            </tr>
            <tr>
              <th><%= f.label "電話番号(ハイフンなし)" %></th>
              <td><%= f.text_field :telephone_number, :placeholder => "0000000000", size: 30 %></td>
            </tr>
            <tr>
              <th><%= f.label "パスワード(6文字以上)" %></th>
              <td><%= f.password_field :password, autocomplete: "new-password", size: 30 %></td>
            </tr>
            <tr>
              <th><%= f.label "パスワード(確認用)" %></th>
              <td><%= f.password_field :password_confirmation, autocomplete: "new-password", size: 30 %></td>
            </tr>
          </tbody>
        </table>
        
        <div class="actions">
          <%= f.submit "新規登録", class: "btn btn-success" %>
        </div>
        <% end %>
        <h2>既に登録済みの方</h2>
        <%= link_to "こちら", new_customer_session_path %> からログインしてください。
      </div>
    </div>
  </div>
  
  
  