<div class="container">
	<h1>商品一覧(全<%= @count %>件)</h1>
	<div class="card-deck">
		<% @items.each do |item| %>
		<div class="row">
			<div class="col">
				<div class="card shadow-sm">
					<%= link_to item_path(item.id) do %>
						<%= image_tag item.image, size: "200x200" %>
					<% end %>
					<div class="card-body">
						<p class="card-text">
							<%= item.name %><br>
							￥<%= item.with_tax_price.to_s(:delimited) %>
						</p>
					</div>
				</div>
			</div>
		</div>
		<% end %>
		<%= paginate @items%>
	</div>
</div>
