<!DOCTYPE html>
<html>
  <head>
    <title>NAGANOCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand p-3" href="/"><%= image_tag('logo.jpg') %></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavdropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if customer_signed_in? %>
                <li class="nav-item">
                  <%= link_to customers_my_page_path do %>
                   <button type="button" class="btn btn-outline-warning">マイページ</button>
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to items_path do %>
                    <button type="button" class="btn btn-outline-warning">商品一覧</button>
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to cart_items_path do %>
                    <button type="button" class="btn btn-outline-warning">カート</button>
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to destroy_customer_session_path, method: :delete do %>
                    <button type="button" class="btn btn-outline-warning">ログアウト</button>
                  <% end %>
                </li>
              <% elsif  admin_signed_in? %>
                <li class="nav-item">
                  <%= link_to admin_items_path do %>
                    <button type="button" class="btn btn-outline-warning">商品一覧</button>
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to admin_customers_path do %>
                    <button type="button" class="btn btn-outline-warning">会員一覧</button>
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to admin_path do %>
                    <button type="button" class="btn btn-outline-warning">注文履歴一覧</button>
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to admin_genres_path do %>
                    <button type="button" class="btn btn-outline-warning">ジャンル一覧</button>
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to destroy_admin_session_path, method: :delete do %>
                    <button type="button" class="btn btn-outline-warning">ログアウト</button>
                  <% end %>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to about_path do %>
                    <button type="button" class="btn btn-outline-warning">About</button>
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to items_path do %>
                    <button type="button" class="btn btn-outline-warning">商品一覧</button>
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to new_customer_registration_path do %>
                    <button type="button" class="btn btn-outline-warning">新規登録</button>
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to new_customer_session_path do %>
                    <button type="button" class="btn btn-outline-warning">ログイン</button>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    
    <main>
      <%= yield %>
    </main>
    
  </body>
</html>
